*{
   box-sizing:border-box;
}

.gallery{
    max-width: auto;
  display:grid;
  grid-template-columns:200px 200px 200px 200px;
  grid-gap: 10px ;
 margin:2% 20% 0px 20%;
}

input{
    margin-left: 31%;
    width:35%;
    height:50%;
    margin-top: 1%;
    padding: 7px  ;
    border-radius: 20px;
    border:2px solid blue;
}

a{
 transition:transform 1s;
}

a:hover{
    transform: scale(1.2);
}